<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Admin-Reftab Viewer</title>
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
		<div class="prompt">
			<section class="prompt-inner">
				<header>
					<h1>Admin and Reftab Viewer</h1>
				</header>
				<section>
					<a class="sign_in_button" href="/login">Sign in</a>
				</section>
			</section>
		</div>
	</body>
</html>
