<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Admin-Reftab Viewer</title>
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
		<div class="prompt">
			<section class="prompt-inner">
				<h1>Sign in</h1>
				<a class="sign_in_button" href="/login/federated/google">Sign in with Google</a>
			</section>
		</div>
	</body>
</html>
